# Flask
Flask==1.1.2
Jinja2<3.1.0
Werkzeug==2.0.2
gunicorn==20.1.0
itsdangerous<=2.0.1

# Flask extensions
Flask-Cors==3.0.10
flask-mongoengine
flask-restx==0.5.1

# Helper libraries
routes==2.5.1
pyyaml==6.0
inflection==0.5.1
python-dotenv==0.19.0

# HTML Scraping
bs4==0.0.1
requests==2.26.0

# Testing
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock
pytest-httpserver==1.0.4

# Linting
flake8==4.0.1
pydocstyle==6.1.1

# Formatting
autopep8==1.6.0
isort==5.10.1

# Command line interface packages
typer
colorama
shellingham
tabulate

tqdm==4.62.0
yaspin==2.1.0